<app-top-bar></app-top-bar>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title" style="padding-top: 20px;">
            <h1>{{ 'contactSection.title' | translate }}</h1>
        </div>
        <div>
            <iframe style="border: 0; width: 100%; height: 270px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.1881256228355!2d-60.53715092561326!3d-31.734523916773244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b453a42b8e1e93%3A0x39166b6d734f91f!2sAlameda%20de%20la%20Federaci%C3%B3n%20684%2C%20E3100%20Paran%C3%A1%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses!2sar!4v1697568012799!5m2!1ses!2sar"
                frameborder="0" allowfullscreen></iframe>
        </div>
        

        <div class="row">
            <!-- Contact Info Column (Left) -->
            <div class="col-lg-5">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>{{ 'contactSection.location' | translate }}</h4>
                        <p>Paraná, Entre Ríos, Argentina</p>
                    </div>
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>{{ 'contactSection.email' | translate }}</p>
                    </div>
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Teléfono:</h4>
                        <p>{{ 'contactSection.phone' | translate }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Contact Form Column (Right) -->
            <div class="col-lg-7 mt-5 mt-lg-0">
                <form action="https://formspree.io/f/xyyravgo" method="post" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name"
                                placeholder="{{ 'contactSection.form.name' | translate }}" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="{{ 'contactSection.form.email' | translate }}" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject"
                            placeholder="{{ 'contactSection.form.subject' | translate }}" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5"
                            placeholder="{{ 'contactSection.form.message' | translate }}" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">{{ 'contactSection.form.loading' | translate }}</div>
                        <div class="error-message"></div>
                        <div class="sent-message">{{ 'contactSection.form.success' | translate }}</div>
                    </div>
                    <div class="text-center"><button type="submit">{{ 'contactSection.form.submit' | translate }}</button></div>
                </form>
            </div>
        </div>
        
    </div>
</section><!-- End Contact Section -->

<app-footer></app-footer>