<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>{{ 'footer.newsletter.title' | translate }}</h4>
                    <form action="https://formspree.io/f/xyyravgo" method="post">
                        <input type="email" name="email"
                            placeholder="{{ 'footer.newsletter.emailPlaceholder' | translate }}">
                        <input type="submit" value="{{ 'footer.newsletter.subscribeButton' | translate }}">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <a href="https://capasso.tech" class="logo">
                        <img src="assets/img/logo.png" alt="{{ 'footer.logo.altText' | translate }}" class="img-fluid"
                            style="width: 200px;">
                    </a>
                    <p>
                        {{ 'footer.address.line1' | translate }}<br>
                        {{ 'footer.address.line2' | translate }}<br><br>
                        <strong>{{ 'footer.phoneLabel' | translate }}</strong> {{ 'footer.phoneNumber' | translate
                        }}<br>
                        <strong>{{ 'footer.emailLabel' | translate }}</strong> {{ 'footer.emailAddress' | translate
                        }}<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'footer.usefulLinks.title' | translate }}</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="#home">{{ 'footer.usefulLinks.home' | translate
                                }}</a></li>
                        <!-- <li><i class="bx bx-chevron-right"></i><a href="#services">{{ 'footer.usefulLinks.services' |
                                translate }}</a></li> -->
                        <li><i class="bx bx-chevron-right"></i><a href="#portfolio">{{ 'footer.usefulLinks.portfolio' |
                                translate }}</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#contact">{{ 'footer.usefulLinks.contact' |
                                translate }}</a></li>
                    </ul>
                </div>

                <!-- <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'footer.ourServices.title' | translate }}</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/web-pages">{{ 'footer.ourServices.webPages'
                                | translate }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">{{ 'footer.ourServices.mobileApps'
                                | translate }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">{{
                                'footer.ourServices.customSoftware' | translate }}</a></li>
                    </ul>
                </div> -->

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ 'footer.socialMedia.title' | translate }}</h4>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/capasso.tech" class="facebook" target="_blank"><i
                                class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/capasso.tech" class="instagram" target="_blank"><i
                                class="bx bxl-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/capassotech" class="linkedin" target="_blank"><i
                                class="bx bxl-linkedin"></i></a>
                        <a href="https://www.tiktok.com/@capasso.tech" class="tiktok" target="_blank"><i
                                class="bx bxl-tiktok"></i></a>
                        <a href="https://wa.link/cw09sb" class="whatsapp" target="_blank"><i
                                class="bx bxl-whatsapp"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; {{ 'footer.copyright.year' | translate }} <strong><span>{{ 'footer.copyright.company' | translate
                    }}</span></strong>. {{ 'footer.copyright.allRightsReserved' | translate }}
        </div>
        <div class="credits">
            {{ 'footer.credits.developedBy' | translate }} <a href="https://capasso.tech/">{{ 'footer.credits.company' |
                translate }}</a>
        </div>
    </div>
</footer><!-- End Footer -->