<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Suscríbase a nuestro Newsletter</h4>
                    <form action="https://formspree.io/f/xyyravgo" method="post">
                        <input type="email" name="email"><input type="submit" value="Suscribirse">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <a href="https://capasso.tech" class="logo"><img src="assets/img/logo.png" alt="Capasso Tech"
                            class="img-fluid" style="width: 200px;"></a>
                    <p>
                        General Ramirez, Entre Ríos<br>
                        Argentina <br><br>
                        <strong>Teléfono:</strong> +54 3434 705 899<br>
                        <strong>Email:</strong> elias_capasso<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Enlaces útiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="#home">Inicio</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#servicios">Servicios</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#portfolio">Portfolio</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#contacto">Contacto</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestros servicios</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#servicios">Páginas web</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#servicios">Aplicaciones Móviles</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#servicios">Software a medida</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Redes sociales</h4>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/elias.capasso/" class="facebook"><i
                                class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/eliascapasso/" class="instagram"><i
                                class="bx bxl-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/elias-capasso/" class="linkedin"><i
                                class="bx bxl-linkedin"></i></a>
                        <a href="https://wa.link/cw09sb" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>CapassoTech</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            Desarrollado por <a href="https://capasso.tech/">CapassoTech</a>
        </div>
    </div>
</footer><!-- End Footer -->