<app-top-bar></app-top-bar>

<div class="text-center" style="padding-top: 100px;">
    <h1 class="section-title mt-0">{{ 'webDevelopmentPlans.title' | translate }}</h1>
    <p class="section-paragraph mb-0 portfolio-description" style="padding: 50px">
        {{ 'webDevelopmentPlans.description' | translate }}
    </p>
</div>

<section id="landing" class="about">
    <div class="container">
        <div class="row">
            <img src="assets/img/webpages/2.png" alt="{{ 'webDevelopmentPlans.landingPage.altText' | translate }}"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>{{ 'webDevelopmentPlans.landingPage.title' | translate }}</h2>
                <p>{{ 'webDevelopmentPlans.landingPage.description' | translate }}</p>
                <i>{{ 'webDevelopmentPlans.note' | translate }}</i>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-mobile"></i></div>
                    <h3 class="title" style="padding-top: 10px;">
                        {{ 'webDevelopmentPlans.landingPage.features.mobileDesign' | translate }}
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-mail-send"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.landingPage.features.contactForm' | translate }}
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-search-alt"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.landingPage.features.googleOptimization' | translate }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="growth" class="about">
    <div class="container">
        <div class="row">
            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>{{ 'webDevelopmentPlans.growth.title' | translate }}</h2>
                <p>{{ 'webDevelopmentPlans.growth.description' | translate }}</p>
                <i>{{ 'webDevelopmentPlans.note' | translate }}</i>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-windows"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.growth.features.pages' | translate }}
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-map-alt"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.growth.features.googleMaps' | translate }}
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-whatsapp"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.growth.features.whatsappButton' | translate }}
                    </h3>
                </div>
            </div>

            <img src="assets/img/webpages/3.png" alt="{{ 'webDevelopmentPlans.growth.altText' | translate }}"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />
        </div>
    </div>
</section>

<section id="professional" class="about">
    <div class="container">
        <div class="row">
            <img src="assets/img/webpages/4.png" alt="{{ 'webDevelopmentPlans.professional.altText' | translate }}"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>{{ 'webDevelopmentPlans.professional.title' | translate }}</h2>
                <p>{{ 'webDevelopmentPlans.professional.description' | translate }}</p>
                <i>{{ 'webDevelopmentPlans.note' | translate }}</i>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-chat"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.professional.features.blog' | translate }}
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-windows"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.professional.features.pages' | translate }}
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-lock-open"></i></div>
                    <h3 class="title" style="padding-top: 20px;">
                        {{ 'webDevelopmentPlans.professional.features.performanceSecurity' | translate }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="customized" class="about">
    <div class="container">
        <div class="row">
            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>{{ 'webDevelopmentPlans.customized.title' | translate }}</h2>
                <p>{{ 'webDevelopmentPlans.customized.description' | translate }}</p>

                <a href="/contact" class="btn-get-started text-center" target="_blank">
                    {{ 'webDevelopmentPlans.customized.requestQuote' | translate }}
                </a>
            </div>

            <img src="assets/img/webpages/5.png" alt="{{ 'webDevelopmentPlans.customized.altText' | translate }}"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />
        </div>
    </div>
</section>

<app-footer></app-footer>