<app-top-bar></app-top-bar>

<div class="text-center" style="padding-top: 100px;">
    <h1 class="section-title mt-0">Planes de de Desarrollo de Páginas Web</h1>
    <p class="section-paragraph mb-0 portfolio-description" style="padding: 50px">
        En Capasso Tech, ofrecemos una variedad de planes de desarrollo web adaptados a las diferentes necesidades de
        nuestros clientes. Desde una presencia en línea simple hasta soluciones completamente personalizadas, nuestros
        planes están diseñados para asegurar que tu sitio web sea efectivo, atractivo y funcional.
    </p>
</div>

<section id="landing" class="about">
    <div class="container">

        <div class="row">
            <img src="assets/img/webpages/2.png" alt="landing page"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>Landing Page</h2>
                <p>Para aquellos que buscan una presencia en línea simple pero efectiva, nuestro plan "Landing Page"
                    ofrece un diseño personalizado adaptable a dispositivos móviles. Con un tiempo de desarrollo de
                    aproximadamente 15 días, este plan incluye un formulario de contacto, enlaces a redes sociales y
                    optimización para Google.</p>
                <i>**No incluye costos de hosting y dominio.</i>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-mobile"></i></div>
                    <h3 class="title" style="padding-top: 10px;">Diseño personalizado adaptable a dispositivos móviles
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-mail-send"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Formulario de contacto</h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-search-alt"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Optimización para Google</h3>
                </div>

            </div>
        </div>

    </div>
</section>

<section id="crecimiento" class="about">
    <div class="container">

        <div class="row">
            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>Crecimiento</h2>
                <p>Si estás buscando expandir tu presencia en línea, nuestro plan "Crecimiento" es ideal para ti. Este
                    plan incluye todo lo que necesitas para destacarte. Con una integración de
                    Google Maps, este plan te permite tener hasta 8 páginas internas y está diseñado para adaptarse a
                    dispositivos móviles. Además, ofrecemos optimización para Google y un botón de WhatsApp para una
                    mayor interacción con tus clientes.</p>
                <i>**No incluye costos de hosting y dominio.</i>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-windows"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Hasta 8 páginas internas
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-map-alt"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Integración de Google Maps</h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-whatsapp"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Botón flotante de WhatsApp</h3>
                </div>

            </div>

            <img src="assets/img/webpages/3.png" alt="landing page"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />
        </div>

    </div>
</section>

<section id="landing" class="about">
    <div class="container">

        <div class="row">
            <img src="assets/img/webpages/4.png" alt="landing page"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>Profesional</h2>
                <p>Para aquellos que buscan llevar su presencia en línea al siguiente nivel, nuestro plan "Profesional"
                    es la opción perfecta. Este plan ofrece un diseño completamente
                    personalizado y adaptable a dispositivos móviles. Además del blog autoadministrable y todas las
                    características incluidas en los planes anteriores, este plan garantiza que tu sitio web se destaque
                    entre la multitud. Además, ofrecemos optimización de rendimiento y seguridad para asegurar que tu
                    sitio web funcione de manera óptima y esté protegido contra amenazas en línea.</p>
                <i>**No incluye costos de hosting y dominio.</i>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-chat"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Blog autoadministrable
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-windows"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Hasta 10 páginas internas
                    </h3>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-lock-open"></i></div>
                    <h3 class="title" style="padding-top: 20px;">Optimización de rendimiento y seguridad</h3>
                </div>

            </div>
        </div>

    </div>
</section>

<section id="landing" class="about">
    <div class="container">

        <div class="row">
            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h2>Personalizado</h2>
                <p>Si ninguno de los planes anteriores se adapta completamente a tus necesidades, ofrecemos servicios de
                    desarrollo web completamente personalizados. Trabajaremos contigo para entender tus requerimientos
                    específicos y crear una solución a medida que cumpla con tus objetivos y expectativas. Contáctanos
                    para más detalles y una cotización personalizada.</p>

                <a href="/contacto" class="btn-get-started text-center" target="_blank">Pedir presupuesto</a>
            </div>

            <img src="assets/img/webpages/5.png" alt="landing page"
                class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" />
        </div>

    </div>
</section>

<app-footer></app-footer>