<app-top-bar></app-top-bar>

<section class="portfolio">
    <div class="container-sm">
        <div class="text-center" style="padding-bottom: 50px; padding-top: 20px;">
            <h1 class="section-title mt-0">Ejemplos de páginas webs</h1>
            <p class="section-paragraph mb-0 portfolio-description">
                Aquí encontrarás algunas de las plantillas que usamos para crear la página web perfecta para tu negocio.
                Estos son solo ejemplos, y si no ves algo que se ajuste a tus gustos, no te preocupes, nos adaptamos a
                tus necesidades.
            </p>
        </div>

        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/dazzle/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/dazzle desktop.png" class="img-fluid" alt="Example 2">
                        <div class="portfolio-info">
                            <p>Ver demostración</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/Butterfly/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/butterfly desktop.png" class="img-fluid" alt="Example 1">
                        <div class="portfolio-info">
                            <p>Ver demostración</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="https://yoppus-1312.web.app" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/ecommerce desktop.png" class="img-fluid" alt="Example 3">
                        <div class="portfolio-info">
                            <p>Ver demostración</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/dev-space/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/devspace desktop.png" class="img-fluid" alt="Example 4">
                        <div class="portfolio-info">
                            <p>Ver demostración</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/knight/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/knight desktop.png" class="img-fluid" alt="Example 5">
                        <div class="portfolio-info">
                            <p>Ver demostración</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/simple/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/simple desktop.png" class="img-fluid" alt="Example 6">
                        <div class="portfolio-info">
                            <p>Ver demostración</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>