<app-top-bar></app-top-bar>

<section class="portfolio">
    <div class="container-sm">
        <div class="text-center" style="padding-bottom: 50px; padding-top: 20px;">
            <h1 class="section-title mt-0">{{ 'portfolio.title' | translate }}</h1>
            <p class="section-paragraph mb-0 portfolio-description">
                {{ 'portfolio.description' | translate }}
            </p>
        </div>

        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/dazzle/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/dazzle desktop.png" class="img-fluid"
                            alt="{{ 'portfolio.example1.alt' | translate }}">
                        <div class="portfolio-info">
                            <p>{{ 'portfolio.viewDemo' | translate }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/Butterfly/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/butterfly desktop.png" class="img-fluid"
                            alt="{{ 'portfolio.example2.alt' | translate }}">
                        <div class="portfolio-info">
                            <p>{{ 'portfolio.viewDemo' | translate }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="https://yoppus-1312.web.app" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/ecommerce desktop.png" class="img-fluid"
                            alt="{{ 'portfolio.example3.alt' | translate }}">
                        <div class="portfolio-info">
                            <p>{{ 'portfolio.viewDemo' | translate }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/dev-space/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/devspace desktop.png" class="img-fluid"
                            alt="{{ 'portfolio.example4.alt' | translate }}">
                        <div class="portfolio-info">
                            <p>{{ 'portfolio.viewDemo' | translate }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/knight/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/knight desktop.png" class="img-fluid"
                            alt="{{ 'portfolio.example5.alt' | translate }}">
                        <div class="portfolio-info">
                            <p>{{ 'portfolio.viewDemo' | translate }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
                <a href="assets/simple/index.html" target="_blank" class="portfolio-lightbox">
                    <div class="portfolio-wrap">
                        <img src="assets/ejemplos/simple desktop.png" class="img-fluid"
                            alt="{{ 'portfolio.example6.alt' | translate }}">
                        <div class="portfolio-info">
                            <p>{{ 'portfolio.viewDemo' | translate }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>